*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
}

.container {
  width: 100%;
  height:100%;
}

section {
  background: #fff;
} 

.tools-board {
  padding: 15px 22px 0;
  /* margin-left: -100px; */
}

.tools-board .row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
  text-align: center;
  min-width: 200px;
}

.row .options .option {
  display: inline;
  cursor: pointer;
  align-items: center;
  max-width: 400px;
  margin: 10px;
}

.option :where(span, label) {
  color: black;
  padding-left: 10px;
}

.option:is(.active) {
  color: rgb(255, 0, 0);
}

.option #size-slider {
  margin-bottom: 10px;
}

.colors .options{
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 50%;
  margin-top: 3px ;
  position: relative;
}

.colors  .option:nth-child(1){
  background-color: #fff;
  border: 1px solid grey;
}

.colors  .option:nth-child(2){
  background-color: #000;
}

.colors  .option:nth-child(3){
  background-color: rgb(254, 2, 2);
}

.colors  .option:nth-child(4){
  background-color: rgb(5, 254, 1);
}

.colors  .option:nth-child(5){
  background-color: rgb(0, 144, 254);
}

.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 10%;
  left: 10%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transition: translate(-50%, -50%);
}

.colors .option:first-child:hover::before{
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.tool img {
  opacity: 50%;
}

.tool.active img {
  opacity: 100%;
}

.buttons {
  width: 100%;
  text-align: right;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin-bottom: 0;
  background: none;
  border-radius: 0;
  margin: 10px;
}

.button {
  color: black;
  transition: all 0.3s ease;
  display: inline;
}

.draw-button {
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease;
  padding: .25em;
}

.prompt {
  width: 400px;
  padding: .25em;
}

.button:hover{
  color: #fff;
  background: grey;
}

.buttons .save-img {
  background: #000;
  border: 1px solid #000;
}

.drawing-board {
  width: 1024px;
  height: 1024px;
  margin: auto;
}

.drawing-board canvas {
  width: 1024px;
  height: 1024px;
}

.checkbox {
  margin: 1em;
  display: inline;
}

  .strength {
    margin: 1em;
    display: block;
  }

  .size {
    display: block;
    margin: 1em;
  }
/* for screens under 512 in width */
@media screen and (max-width: 512px) {
  body {
    background: #ccc;
  }
  .drawing-board {
    width: 256px!important;
    height: 256px!important;
  }

  .tools-board {
    background-color: none;
    background: none;
    padding: 1em;
    margin: 0;
  }

  .drawing-board canvas {
    width: 256px;
    height: 256px;
  }

  .prompt {
    width: 280px!important;
  }
  
}